.FullHeightContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.App {
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  min-height: 100%;
}

.App-sidebar {
  background-color: #ccc;
  flex: 1;
}

.App-main {
  flex: 3;
}

.Sidebar-note-item {
  cursor: pointer;
}

.Sidebar-note-item-active {
  font-weight: bold;
}

.TitleInput {
  border: 0px solid black;
  display: block;
  font-size: 2em;
  margin-bottom: 0.25em;
  outline: none;
  width: 100%;
}

.NoteBody,
.SidebarBody {
  padding: 2em;
}

.NoteMetadataContainer {
  margin-bottom: 0.5em;
}

.NoteMetadataContainer-button {
  margin-right: 0.5em;
}

.NoteMetadataContainer-metadata {
  vertical-align: bottom;
}

.EditorContainer {
  max-width: 700px;
}
